@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

.Container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'RIDIBatang';
    background-color: rgba(255, 255, 255, 0.945);;
    text-align: center;

    box-shadow: gray;
    border-radius: 30px;
    margin-top : 50px;
    margin: 0 auto;

    height: 670px;
};

h1{
    margin-bottom: 0;
}

.TempInfo{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.ClothContainer{
    margin-top: 150px;
    font-size: 20px;
}

.Cloth{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 30px;
}

.Footer{
    margin-top: 10px;
}